
<!DOCTYPE html>
<html>
    <head>
        <title>W2UI Demo: grid-1</title>
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("w2ui/w2ui-1.4.3.min.css")">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script type="text/javascript" src="@routes.Assets.at("w2ui/w2ui-1.4.3.min.js")"></script>
    </head>
    <body>

        <div id="grid" style="width: 100%; height: 400px;"></div>
    </body>

    <script type="text/javascript">
    w2utils.settings.dataType = 'JSON';
$(function () {
    $('#grid').w2grid({
        name: 'grid',
        url: 'user',
        method: 'GET',
        header: 'List of Users',
        show:{
            footer:true,
            header:true,
            toolbar:true,
            toolbarAdd: true

        },
        columns: [
            { field: 'recid', caption: 'ID', size: '50px', sortable: true, resizable: true },
            { field: 'first_name', caption: 'First Name', size: '30%', editable: { type: 'text' } },
            { field: 'last_name', caption: 'Last Name', size: '30%' , editable: { type: 'text' }},
            { field: 'email', caption: 'Email', size: '40%' , editable: { type: 'text' } }
        ],
        onAdd: function () {
           openPopup()
        }
    });

});
function openPopup () {
    if (!w2ui.foo) {
        $().w2form({
            name: 'foo',
            style: 'border: 0px; background-color: transparent;',
            url: {save:'user'},
            formHTML:
                '<div class="w2ui-page page-0">'+
                '    <div class="w2ui-field">'+
                '        <label>First Name:</label>'+
                '        <div>'+
                '           <input name="first_name" type="text" maxlength="100" style="width: 250px"/>'+
                '        </div>'+
                '    </div>'+
                '    <div class="w2ui-field">'+
                '        <label>Last Name:</label>'+
                '        <div>'+
                '            <input name="last_name" type="text" maxlength="100" style="width: 250px"/>'+
                '        </div>'+
                '    </div>'+
                '    <div class="w2ui-field">'+
                '        <label>Email:</label>'+
                '        <div>'+
                '            <input name="email" type="text" style="width: 250px"/>'+
                '        </div>'+
                '    </div>'+
                '</div>'+
                '<div class="w2ui-buttons">'+
                '    <button class="btn" name="reset">Reset</button>'+
                '    <button class="btn" name="save">Save</button>'+
                '</div>',
            fields: [
                { field: 'first_name', type: 'text', required: true },
                { field: 'last_name', type: 'text', required: true },
                { field: 'email', type: 'text' ,required: true}
            ],
            actions: {
                 "save": function () {
                 this.validate() ; this.save(this.record); $().w2popup('close');
                },
                "reset": function () { this.clear(); }
            },
            postData:{
                a1:1,
                a2:2,
                a3:3
            }
        });
    }
    $().w2popup('open', {
        title   : 'Add new user',
        body    : '<div id="form" style="width: 100%; height: 100%;"></div>',
        style   : 'padding: 15px 0px 0px 0px',
        width   : 500,
        height  : 300,
        showMax : true,
        onToggle: function (event) {
            $(w2ui.foo.box).hide();
            event.onComplete = function () {
                $(w2ui.foo.box).show();
                w2ui.foo.resize();
            }
        },
        onOpen: function (event) {
            event.onComplete = function () {
                // specifying an onOpen handler instead is equivalent to specifying an onBeforeOpen handler, which would make this code execute too early and hence not deliver.
                $('#w2ui-popup #form').w2render('foo');
            }
        },
       /* onSave:function(event){
           $(w2ui.foo.box.close());
        }*/

    });

}



</script>
</html>